terminal {
    font-family: monospace;
    font-size: 12px;

    --color-bg: black;
    --color-fg: rgb(207, 207, 207);
    --color-8: rgb(100, 100, 100);
    background-color: var(--color-bg);
    color: var(--color-fg);

    padding: 1.9vh;
    border-radius: 1vh;

    display: inline-block;
    white-space: pre;
}
terminal invert {
    display: inline-block;
    background-color: var(--color-fg);
    color: var(--color-bg);
}
terminal tf8 {
    color: var(--color-8)
}